<h1>New order</h1>
<div class = "depot_form" role="form">
	<fieldset>
		<legend>Please Enter You Details</legend>
		<%= render 'form' %>

	</fieldset>
</div>

<div class="btn btn-success"><%= link_to 'Back', orders_path %></div>
